.ajax-select .has-result .result-table {
	display: table;
	width: 100%;
}

.ajax-select .has-result .result-table .result-row {
	display: table-row;
}

.ajax-select .has-result .result-container, .ajax-select .has-result .button-container {
	display: table-cell;
	vertical-align: middle;
}

.ajax-select .has-result .result-container {
	width: 100%;
}

.ajax-select .searching .search {
	width: 100%;
	margin-bottom: 2px;
}

.ajax-select .searching .dropdown-container {
	background-color: #ffffff;
	z-index: 1;
	padding: 0;
	min-height: 0;
}

.ajax-select .searching .dropdown-container .results {
	width: 100%;
	max-height: 200px;
	overflow: auto;
	background-color: #ffffff;
}

.ajax-select .searching .dropdown-container .loading, .ajax-select .searching .dropdown-container .no-results {
	text-align: center;
	font-size: 16px;
}

.ajax-select .searching .dropdown-container .loading .txt {
	vertical-align: middle;
}

.ajax-select .searching .dropdown-container .results .result-row, .ajax-select .searching .dropdown-container .loading, .ajax-select .searching .dropdown-container .no-results {
	padding: 4px 8px;
}

.ajax-select .searching .dropdown-container .results .result-row {
	cursor: pointer;
}

.ajax-select .searching .dropdown-container .results .result-row[data-selected='1'] {
	background-color: #e0e0ff
}