.player-container {
	position: relative;
	background-color: #ffffff;
}

.player-container .player-outer-outer {
	width: 100%;
}

.player-container .player-outer:not(.embed-responsive-item) {
	position: relative;
}

.player-container .player-outer .player-wrapper {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
}

.player-container .player-outer .player-wrapper.invisible {
	visibility: hidden;
}

/* when the player is embedded player-component width and height will be set with javascript to whatever the height of player-container is - bottom-container height. */
.embedded-player-container .bottom-container {
	position: absolute;
	bottom: 0;
	width: 100%;
}

.player-container .bottom-container .item-container {
	display: inline-block;
	float: left;
	margin-top: 3px;
}

.player-container .bottom-container .item-container > *:not(.item-container) {
	margin-right: 5px;
}

.player-container .bottom-container .new-line {
	clear: left;
}

.player-container .bottom-container .item-container .view-count {
	font-weight: bold;
	white-space: nowrap;
}

.player-container .bottom-container .right {
	float: right;
}

.player-container .bottom-container .item-container.right > :first-child:not(.item-container) {
	margin-left: 5px;
	margin-right: 0;
}

.player-container .bottom-container .item-container.right.new-line {
	clear: right;
}

.page-player .bottom-container .item-container .broadcast-on-msg {
	font-style: italic;
	font-size: 12px;
	text-align: right;
}

.player-container .override-mode-enabled {
	border-color: #ff0000;
	border-width: 8px;
	border-style: solid;
}
