.share-modal .modal-body .embed-container .instruction {
	display: block;
}

.share-modal .modal-body .embed-container .embed-code-input {
	cursor: text;
}

.share-modal .modal-body .heading:first-child {
	margin-top: 0;
}

.share-modal .modal-body .heading {
	margin-bottom: 4px;
	margin-top: 15px;
}