.playlist .button-row {
	background-color: #f5f5f5;
	border: 1px solid #ddd;
	padding: 8px;
}

.playlist .button-row .buttons {
	display: inline-block;
	float: right;
	margin-left: 12px;
	margin-bottom: 6px;
	font-size: 8px;
}

.playlist .button-row .buttons .item {
	display: inline-block;
}

.playlist .button-row .playlist-title {
	display: inline;
	padding: 0;
	margin: 0;
	font-size: 25px;
}

.playlist .playlist-table-container {
	overflow: auto;
	max-height: 400px;
}

.playlist .playlist-table {
	background-color: #ffffff;
	table-layout: fixed;
}

.playlist .playlist-table tbody tr {
	cursor: pointer;
}

.playlist .playlist-table tr.chosen td {
	background-color: #9C0000;
	color: #ffffff;
}

.playlist .playlist-table tr td {
	word-wrap: break-word;
	vertical-align: middle;
	font-size: 17px;
}

.playlist .playlist-table .col-episode-no {
	width: 55px;
	text-align: right;
}

.playlist .playlist-table .col-thumbnail {
	width: 35%;
	padding: 0;
}

.playlist .playlist-table .col-title {
	width: 100%;
	position: relative;
	padding: 2px 8px;
}

.playlist .playlist-table .col-title .title {
	padding: 6px 0;
}

.playlist .playlist-table .col-title .subtitle {
	display: inline-block;
	float: right;
	font-size: 10px;
}