.page-player .player-container .bottom-container {
	margin-top: 4px;
	margin-bottom: 10px;
}

.page-player .player-container .bottom-container .view-count {
	display: inline-block;
	font-weight: bold;
}

.page-player .player-container .bottom-container .right-section {
	display: inline-block;
	float: right;
	margin-left: 15px;
}

.page-player .player-container .bottom-container .right-section .item-container {
	display: inline-block;
	margin-left: 5px;
}

.page-player .description-container {
	max-height: 130px;
	overflow: auto;
	margin-bottom: 10px;
}

.page-player .player-container .loading-container {
	background-color: #000000;
	color: #202020;
	text-align: center;
	overflow: hidden;
}

.page-player .player-container .loading-container .msg {
	margin-top: 40px;
	font-size: 20px;
	font-weight: bold;
}