.quality-selection-component .btn-group .dropdown-menu {
	right: 0;
	left: inherit;
}

/* if the player is being embedded then put the menu above the component so that it's over the player.
   This is because if it drops down it might get chopped off or cause issues with the iframe. */
.embedded-player-container .quality-selection-component .btn-group .dropdown-menu {
	bottom: 100%;
	top: inherit;
}

/* if embedded make the caret point the right way */
.embedded-player-container .quality-selection-component .btn-group .btn .caret {
	content: "";
	border-top: 0;
	border-bottom: 4px solid;
}