.page-home .wrapper {
	opacity: 0;
}

.page-home .wrapper[data-animate-in="1"] {
	opacity: 1;
	transition: opacity 0.5s ease-in-out;
}

.page-home .promo-item-container {
	margin-bottom: 20px;
}

.page-home .promo-carousel {
	margin-bottom: 45px;
}

.page-home .promo-carousel .item {
	text-align: center;
	color: #ffffff;
	position: relative;
}

.page-home .promo-carousel .item .content-container {
	overflow: hidden;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}

.page-home .promo-carousel .item .content-container .bg {
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	overflow: hidden;
}

.page-home .promo-carousel .item .content-container .bg .cover-img {
	width: 100%;

}

html.csstransforms .page-home .promo-carousel .item .content-container .bg .cover-img {
	transform: scale(1);
	transition: transform 0.5s 0.2s ease-in-out;
}

html.csstransforms .page-home .promo-carousel[data-animate="1"] .item.flex-active-slide .content-container .bg .cover-img {
	transform: scale(1.3);
	transition: transform 6s 0.5s ease-in-out;
}

.page-home .promo-carousel .item .content-container .footer {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: rgba(255, 0, 0, 0.75);
	padding: 5px 15px;
	max-height: 100%;
	overflow: auto;
}

html.csstransforms .page-home .promo-carousel .item .content-container .footer {
	opacity: 0;
	transform: translateY(85%);
	transition: transform 0.8s 0.25s, opacity 0.5s 0.3s;
}

html.csstransforms .page-home .promo-carousel[data-animate="1"] .item.flex-active-slide .content-container .footer {
	opacity: 1;
	transform: translateY(0);
	transition-delay: 0.5s;
}

.page-home .promo-carousel .item .content-container .footer .title {
	font-weight: bold;
	font-size: 20px
}

.page-home .promo-carousel .item .content-container .footer .series-title {
	font-size: 18px;
}

.page-home .promo-carousel .item .content-container .footer .available-msg {
	font-size: 15px;
}

@media (min-width: 450px) {
	.page-home .promo-carousel .item .content-container .footer .title {
		font-size: 28px
	}
	
	.page-home .promo-carousel .item .content-container .footer .series-title {
		font-size: 24px;
	}
	
	.page-home .promo-carousel .item .content-container .footer .available-msg {
		font-size: 20px;
	}
	
	.page-home .promo-carousel .item .content-container .footer {
		padding: 15px 20px;
	}
}

.page-home .promo-carousel .flex-disabled {
	display: none;
}

.page-home .promo-carousel .flex-direction-nav a {
	height: auto;
}

.page-home .promo-carousel .flex-direction-nav a:before {
	color: #ff0000;
	text-shadow: 1px 1px 0 rgba(128, 0, 0, 0.3);
}

.page-home .promo-carousel .flex-control-paging li a {
	text-indent: 12px;
	overflow: hidden;
	background: rgba(255, 0, 0, 0.4);
}

.page-home .promo-carousel .flex-control-paging li a:hover {
	background: rgba(255, 0, 0, 0.7);
}

.page-home .promo-carousel .flex-control-paging li a.flex-active {
	background: rgba(255, 0, 0, 0.9);
}

.page-home .list-selection-button-group {
	text-align: center;
	margin-bottom: 10px;
}

.page-home .lists {
	overflow: hidden;
	position: relative;
	/* hack so that the animation slides off to the side banner */
	margin: 0 -15px;
	padding: 0 15px;
}

.page-home .lists .carousel {
	position: relative;
	transition: left 1s ease;
	left: 0;
	white-space: nowrap;
}

.page-home .lists .carousel > * {
	vertical-align: top;
	white-space: normal;
	overflow: hidden;
}

.page-home .lists[data-list="recentlyAdded"] .carousel {
	left: -100%;
}

.page-home .lists[data-list="recentlyAdded"] .carousel .most-popular-section {
	opacity: 0;
}

.page-home .lists[data-list="mostPopular"] .carousel .recently-added-section {
	opacity: 0;
}

.page-home .lists .most-popular-section .list-holder, .page-home .lists .recently-added-section .list-holder {
	margin-bottom: 20px;
}

.page-home .lists.animation-enabled .most-popular-section, .page-home .lists.animation-enabled .recently-added-section {
	width: 100%;
	display: inline-block;
	opacity: 1;
	transition: opacity 1s ease;
}

.page-home .lists .most-popular-section .heading, .page-home .lists .recently-added-section .heading {
	text-align: center;
	margin-top: 0;
}

.page-home .lists .most-popular-section .list-holder .none-available, .page-home .lists .recently-added-section .list-holder .none-available {
	text-align: center;
	font-style: italic;
}