.playlist-element .button-row {
	background-color: #f5f5f5;
	border: 1px solid #ddd;
	padding: 8px;
}

.playlist-element .button-row .buttons {
	display: inline-block;
	float: right;
	margin-left: 12px;
	margin-bottom: 6px;
	font-size: 8px;
}

.playlist-element .button-row .buttons .item {
	display: inline-block;
}

.playlist-element .button-row .playlist-title {
	display: inline;
	padding: 0;
	margin: 0;
	font-size: 25px;
}

.playlist-element.with-header .playlist-list {
	border: 1px solid #ddd;
	border-top-style: none;
}

.playlist-element .playlist-list .playlist-table {
	background-color: #ffffff;
	table-layout: fixed;
	border-style: none;
}

.playlist-element .playlist-list .playlist-table tbody tr {
	cursor: pointer;
}

.playlist-element .playlist-list .playlist-table tr.chosen td {
	background-color: #9C0000;
	color: #ffffff;
}

.playlist-element .playlist-list .playlist-table tr td {
	word-wrap: break-word;
	vertical-align: middle;
	font-size: 17px;
	border-top-style: none;
}

.playlist-element .playlist-list .playlist-table td, .playlist-element .playlist-list .playlist-table .col-title .subtitle {
	padding: 3px 8px;
}

.playlist-element .playlist-list .playlist-table .col-episode-no {
	width: 55px;
	text-align: right;
}

.playlist-element .playlist-list .playlist-table .col-thumbnail {
	width: 107px;
	padding: 0;
	position: relative;
}

.playlist-element .playlist-list .playlist-table .col-thumbnail .image-container, .playlist-element .playlist-list .playlist-table .col-thumbnail .image-container .image-holder {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}

.playlist-element .playlist-list .playlist-table .col-thumbnail .image-container {
	overflow: hidden;
}

.playlist-element .playlist-list .playlist-table .col-thumbnail .image-container .image-holder {
	background-color: #000000 !important;
	background-repeat: no-repeat;
	background-attachment: scroll;
	background-position: center;
	background-size: cover;
}

.playlist-element .playlist-list .playlist-table .col-thumbnail .height-helper {
	min-height: 60px;
}

.playlist-element .playlist-list .playlist-table .col-thumbnail .hyperlink {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
}

.playlist-element .playlist-list .playlist-table .col-thumbnail .footer {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	max-height: 100%;
	padding: 3px 0;
	font-size: 10px;
	color: #ffffff;
	background-color: rgba(0, 0, 0, 0.65);
	text-align: center;
	overflow: auto;
}

.playlist-element .playlist-list .playlist-table .col-thumbnail .duration {
	position: absolute;
	bottom: 0;
	right: 0;
	padding: 2px 4px;
	font-size: 10px;
	color: #ffffff;
	background-color: rgba(0, 0, 0, 0.65);
	text-align: center;
}

.playlist-element .playlist-list .playlist-table .col-title {
	width: 100%;
	position: relative;
	vertical-align: top;
}


.playlist-element .playlist-list .playlist-table .col-title .title {
	font-weight: bold;
}

.playlist-element .playlist-list .playlist-table .col-title .subtitle-filler {
	visibility: hidden;
	margin-top: 3px;
}

.playlist-element .playlist-list .playlist-table .col-title .subtitle {
	display: inline-block;
	position: absolute;
	right: 0;
	left: 0;
	bottom: 0;
}

.playlist-element .playlist-list .playlist-table .col-title .subtitle, .playlist-element .playlist-list .playlist-table .col-title .subtitle-filler {
	white-space: nowrap;
	text-align: right;
	overflow: hidden;
	font-size: 10px;
	font-style: italic;
}

.playlist-element .playlist-list .playlist-table .col-title .stats-bar {
	font-size: 12px;
	margin-bottom: 3px;
	display: none; /* enabled with @media query below if screen big enough */
}

.playlist-element .playlist-list .playlist-table .col-title .stats-bar .item {
	display: inline-block;
	margin-right: 3px;
}

.playlist-element .playlist-list .playlist-table .col-title .stats-bar .item:last-child {
	margin-right: 0;
}

.playlist-element .playlist-list .playlist-table .col-title .description {
	display: none; /* enabled with @media query below if screen big enough */
	font-size: 13px;
	text-overflow: ellipsis;
	-webkit-line-clamp: 4;
	-webkit-box-orient: vertical;
	overflow: hidden;
}

@media (min-width: 530px) {
	.playlist-element .playlist-list .playlist-table .col-thumbnail {
		width: 155px;
	}

	.playlist-element .playlist-list .playlist-table .col-title .stats-bar {
		display: block;
	}

	.playlist-element .playlist-list .playlist-table .col-title .description {
		display: -webkit-box;
	}
	
	.playlist-element .playlist-list .playlist-table .col-thumbnail .height-helper {
		min-height: 86px;
	}
}
