.reorderable-list .add-button-container {
	margin-top: 5px;
}

.reorderable-list .list-container {
	max-height: 200px;
	overflow: auto;
}

.reorderable-list .list-container .list-table {
	display: table;
}

.reorderable-list .list-container .list-table .list-row {
	display: table-row;
	background-color: #ffffff;
}

/* hovering over */
.reorderable-list .list-container .list-table .list-row[data-highlight-state='1'] {
	background-color: #e0e0ff;
}

/* dragging */
.reorderable-list .list-container .list-table .list-row[data-highlight-state='2'] {
	background-color: #b0b0ff;
}

.reorderable-list .list-container .list-table .list-row .cell {
	display: table-cell;
	padding-top: 3px;
	padding-bottom: 3px;
}

.reorderable-list .list-container .list-table .list-row .cell:first-child {
	padding-left: 8px;
}

.reorderable-list .list-container .list-table .list-row .cell:last-child {
	padding-right: 8px;
}

.reorderable-list .list-container .list-table .list-row .cell-no {
	padding-right: 10px;
}

.reorderable-list .list-container .list-table .list-row .cell-content {
	width: 100%;
	vertical-align: middle;
}

.reorderable-list .list-container .list-table .list-row .cell-options {
	padding-left: 15px;
	white-space: nowrap;
	text-align: center;
}

.reorderable-list .list-container .list-table .list-row .cell-options .option {
	display: inline-block;
	margin: 0 2px;
}

.reorderable-list .list-container .list-table .list-row .cell-options .option-drag {
	cursor: move;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	padding: 2px 4px;
	background-color: #44ccff;
	border-color: #00aaff;
	border-style: solid;
	border-width: 2px;
	color: #ffffff;
}