.toggleable-component .component-toggled .table-container {
	display: table;
	width: 100%;
}

.toggleable-component .component-toggled .table-container .row-container {
	display: table-row;
}

.component-toggled .table-container .row-container .component-col, .component-toggled .table-container .row-container .buttons-col {
	display: table-cell;
	vertical-align: middle;
}

.component-toggled .table-container .row-container .buttons-col .buttons-container {
	padding-left: 10px;
}

.component-toggled .table-container .row-container .component-col {
	width: 100%;
}
