.player-container {
	position: relative;
}

.player-container .bottom-container {
	margin-top: 4px;
}

/* when the player is embedded player-component width and height will be set with javascript to whatever the height of player-container is - bottom-container height. */
.embedded-player-container .bottom-container {
	position: absolute;
	bottom: 0;
	width: 100%;
}

.player-container .bottom-container .item-container {
	display: inline-block;
	float: left;
	margin-bottom: 3px;
}

.player-container .bottom-container .item-container  > :first-child:not(.item-container) {
	margin-right: 5px;
}

.player-container .bottom-container .item-container.new-line {
	clear: left;
}

.player-container .bottom-container .item-container .view-count {
	font-weight: bold;
	white-space: nowrap;
}

.player-container .bottom-container .item-container.right {
	float: right;
}

.player-container .bottom-container .item-container.right > :first-child:not(.item-container) {
	margin-left: 5px;
	margin-right: 0;
}

.player-container .bottom-container .item-container.right.new-line {
	clear: right;
}

.page-player .bottom-container .item-container .broadcast-on-msg {
	font-style: italic;
	font-size: 12px;
}

.player-container .override-mode-enabled {
	border-color: #ff0000;
	border-width: 8px;
	border-style: solid;
}
