.player-container {
	position: relative;
}

.player-container .bottom-container {
	margin-top: 4px;
}

/* when the player is embedded player-component width and height will be set with javascript to whatever the height of player-container is - bottom-container height. */
.embedded-player-container .bottom-container {
	position: absolute;
	bottom: 0;
	width: 100%;
}

.player-container .bottom-container .view-count, .player-container .bottom-container .override-button  {
	display: inline-block;
}

.player-container .bottom-container .view-count {
	font-weight: bold;
	margin-right: 5px;
}

.player-container .bottom-container .right-section {
	display: inline-block;
	float: right;
	margin-left: 15px;
}

.player-container .bottom-container .right-section .item-container {
	display: inline-block;
	margin-left: 5px;
}

.player-container .override-mode-enabled {
	border-color: #ff0000;
	border-width: 8px;
	border-style: solid;
}