.page-fbpermissions .permissions-table {
	table-layout: fixed;
	margin-bottom: 0;
}

.page-fbpermissions .permissions-table td, .page-fbpermissions .permissions-table th {
	text-align: center;
	vertical-align: middle;
}

.page-fbpermissions .permissions-table .status-col, .page-fbpermissions .permissions-table .permission-col {
	width: 100px;
}

.page-fbpermissions .permissions-table .status-col .provide-permission-button {
	white-space: inherit;
}

@media (min-width: 768px) {
	.page-fbpermissions .permissions-table .permission-col {
		width: 150px;
	}
}

.page-fbpermissions .permissions-table .status-col .status-icon {
	font-size: 30px;
}

.page-fbpermissions .permissions-table .status-col .status-icon .status-icon-tick {
	color: #429e42;
}

.page-fbpermissions .permissions-table .status-col .status-icon .status-icon-cross {
	color: #ff0000;
}