.page-home {
	opacity: 0; /* changed in js */
	display: none;
}

.page-home .promo-carousel {
	display: none; /* removed in js */
	margin: 0 25px 45px 25px;
}

.page-home .promo-carousel .item {
	text-align: center;
	color: #ffffff;
}

.page-home .promo-carousel .item .content-container {
	overflow: hidden;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}

.page-home .promo-carousel .item .content-container .bg {
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
}

.page-home .promo-carousel .item .content-container .bg .cover-img {
	width: 100%;
}

.page-home .promo-carousel .item .content-container .footer {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: rgba(255, 0, 0, 0.75);
	opacity: 0; /* animated in js */
	padding: 5px 15px;
	max-height: 100%;
	overflow: auto;
}

.page-home .promo-carousel .item .content-container .footer .title {
	font-weight: bold;
	font-size: 20px
}

.page-home .promo-carousel .item .content-container .footer .series-title {
	font-size: 18px;
}

.page-home .promo-carousel .item .content-container .footer .available-msg {
	font-size: 15px;
}

@media (min-width: 450px) {
	.page-home .promo-carousel .item .content-container .footer .title {
		font-size: 28px
	}
	
	.page-home .promo-carousel .item .content-container .footer .series-title {
		font-size: 24px;
	}
	
	.page-home .promo-carousel .item .content-container .footer .available-msg {
		font-size: 20px;
	}
	
	.page-home .promo-carousel .item .content-container .footer {
		padding: 15px 20px;
	}
}

.page-home .most-popular-section, .page-home .recently-added-section {
	margin-bottom: 20px;
}

.page-home .most-popular-section .heading, .page-home .recently-added-section .heading {
	text-align: center;
	margin-top: 0;
}

.page-home .most-popular-section .none-available, .page-home .recently-added-section .none-available {
	text-align: center;
	font-style: italic;
}