.navbar {
	border-color: #ff0000;
	margin-top: 10px;
	margin-bottom: 0;
}

.navbar .navbar-nav > li > a {
	color: #ff0000;
}

.navbar .navbar-brand {
	padding: 10px;
}

.navbar .navbar-brand img {
	height: 30px;
}

/*
 * tempory until full search page implemented
 * when full search page implemented the search button should
 * link to this page when the screen is this small
 * For now search is not supported on small screens
 */
@media (max-width: 767px) {
	.navbar .search-btn {
		display: none;
	}
}

@media (min-width: 768px) {
	.navbar-collapse {
		padding-left: 0;
		padding-right: 0;
	}

	.navbar .navbar-brand {
		padding: 10px 5px 10px 10px;
	}

	.navbar .navbar-nav > li > a {
		padding-left: 6px;
		padding-right: 6px;
	}
}