.navbar {
	border-color: #ff0000;
	margin-top: 10px;
	margin-bottom: 0;
}

.navbar .navbar-nav > li > a {
	color: #ff0000;
}

.navbar .navbar-brand {
	padding-top: 10px;
	padding-bottom: 10px;
}

.navbar .navbar-brand img {
	height: 30px;
}

@media (min-width: 768px) {
	.navbar-collapse {
		padding-left: 0;
		padding-right: 0;
	}
}