.page-player .player-container-component-container {
	margin-bottom: 10px;
}

.page-player .description-container {
	margin-bottom: 10px;
}

.page-player .admin-panel .my-row {
	margin-bottom: 10px;
}

.page-player .information-msg-section .buttons-row {
	display: inline-block;
	float: right;
}

.page-player .go-to-series-btn-container {
	margin-bottom: 10px;
}

.page-player .related-items {
	margin-top: 15px;
}