.search-dialog {
	display: block;
	width: 400px;
	background-color: #ffffff;
	border-color: #ff0000;
	border-width: 1px;
	border-style: solid;
}

.search-dialog .search-input-container {
	padding: 10px;
}

.search-dialog .results-container {
	max-height: 300px;
	overflow: auto;
}

.search-dialog .results-container .search-result {
	padding: 0 10px;
	margin-bottom: 3px;
	height: 69px;
	cursor: pointer;
}

.search-dialog .results-container .search-result.chosen {
	background-color: #ffaeae;
}

.search-dialog .results-container .theThumbnail, .search-dialog .results-container .info {
	display: inline-block;
	height: 100%;
	vertical-align: top;
}

.search-dialog .results-container .theThumbnail {
	width: 30%;
	background-color: #000000 !important;
	background-repeat: no-repeat;
	background-attachment: scroll;
	background-position: center;
	background-size: cover;
}

.search-dialog .results-container .info {
	width: 70%;
	padding-left: 7px;
	padding-top: 4px;
	padding-bottom: 4px;
	overflow: hidden;
}

.search-dialog .results-container .info .title, .search-dialog .results-container .info .description {
	display: -webkit-box;
	text-overflow: ellipsis;
	-webkit-box-orient: vertical;
	overflow: hidden;
}

.search-dialog .results-container .info .title {
	font-weight: bold;
	-webkit-line-clamp: 1;
}

.search-dialog .results-container .info .description {
	-webkit-line-clamp: 2;
}