.side-banners-container {
	position: fixed;
	display: none;
	z-index: -1;
	top: 0;
	bottom: 0;
	/* centre */
	left: 50%;
	transform: translateX(-50%);
	-ms-transform: translateX(-50%);
   	-webkit-transform: translateX(-50%);
	opacity: 0; /* changed in js (fades in) */
}

@media (min-width: 768px) {
	html.csstransforms .side-banners-container {
		display: block;
	}
}

@media (max-width: 1350px) {
	.side-banners-container .side-banner-container .side-banner {
		display: none;
	}
}

.side-banner-container {
	background-color: #ffffff;
	background-repeat: repeat-x;
	background-attachment: scroll;
	/* background-image set in js */
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	-ms-transform: translateY(-50%);
   	-webkit-transform: translateY(-50%);
	width: 250px;
	height: 1400px;
	text-align: center;
	overflow: hidden;
	width: 100vw;
}

.side-banner-container-left {
	left: 0;
	transform: translateX(-100%) translateY(-50%);
	-ms-transform: translateX(-100%) translateY(-50%);
   	-webkit-transform: translateX(-100%) translateY(-50%);
	background-position: right center;
}

.side-banner-container-right {
	right: 0;
	transform: translateX(100%) translateY(-50%);
	-ms-transform: translateX(100%) translateY(-50%);
   	-webkit-transform: translateX(100%) translateY(-50%);
	background-position: left center;
}

.side-banners-container .side-banner-container .side-banner {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	-ms-transform: translateY(-50%);
   	-webkit-transform: translateY(-50%);
	width: 250px;
	height: 1400px;
	text-align: center;
	overflow: hidden;
}

.side-banners-container .side-banner-container-left .side-banner {
	right: 0;
}

.side-banners-container .side-banner-container-right .side-banner {
	left: 0;
}