html {
	position: relative;
	min-height: 100%;
}
body {
	/* Margin bottom by footer height */
	margin-bottom: 60px;
}
.page-footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	/* Set the fixed height of the footer here */
	height: 60px;
	background-color: #f5f5f5;
	overflow: hidden;
}

.page-footer .container {
	background-color: #f5f5f5;
}

.page-footer .container .footer-txt {
	margin: 20px 0;
	text-align: center;
}

@media (min-width: 768px) {
	html.csstransforms.pc .page-footer.side-banners-on {
		background-color: transparent;
	}
}