.zoom-animation, .zoom-animation[data-animate="1"] {
	-webkit-transition: all 0.3s ease-out;
	-moz-transition: all 0.3s ease-out;
	-o-transition: all 0.3s ease-out;
	transition: all 0.3s ease-out;
}

.zoom-animation[data-animate="1"] {
	-webkit-transform: scale(1.3);
	-moz-transform: scale(1.3);
	-o-transform: scale(1.3);
	transform: scale(1.3);
	-webkit-transition-duration: 3s;
	-moz-transition-duration: 3s;
	-o-transition-duration: 3s;
	transition-duration: 3s;
}